header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
}


.search {
    width: 300px; /* Ширина поля с кнопкой */
    border: 1px solid #000; /* Параметры рамки */
    min-height: 20px; /* Минимальная высота */
    background: url(bg.jpg);
}
input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 274px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
   }
input[type="submit"] {
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background: url(search.png) no-repeat 50% 50%; /* Параметры фона */
}
  
.nav ul {
    height:30px;
    display: flex;
    justify-content: space-between;
    background-color: #f66;
}

.nav li {
    height: 20px;
    list-style: none;
}

.nav li:hover{
    background-color: #f22;
}


.content-block-1-wrap, .content-block-2-wrap, .content-block-1-left-block-el-2-wrap, .content-block-1-left-block-el-2-right-el-post {
    display: flex;
}

.content-block-1-left-block-wrap, .content-block-2-left-el {
    width: 70%;
}

.content-block-1-right-block-wrap, .content-block-2-right-el {
    width: 30%;
}

.content-block-1-left-block-el-2-wrap div {
    width: 50%;
}

.content-block-1-left-block-el-2-right-el-post img {
    height: 75px;
}

footer {
    text-align: center;
}
